body,html {
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1; font-size: 16px ;
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #f2f2f2;
}

/* Stili per la copertura semitrasparente */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Colore nero semitrasparente */
  z-index: 999; /* Assicura che la copertura sia sopra la schermata home */
  display: none; /* Inizialmente nascosta */
}

.overlay1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.header {
  display: flex;
  position: fixed;
  width: 100%;
  border-bottom: 5px solid #e4e4e4;
  justify-content: space-around;
  align-items: center;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #fff;
  z-index: 1;
}

.logo{
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.logoimg {
  width: 10%;
  margin-right: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold ;
  background-color: #fff;
  margin-top: 3px;
}

.menu ul{padding: 0px; margin: 0;}
.menu li {display: inline-block ;}
.menu a {text-decoration: none ; color: black; padding: 5px 10px; display: block;}
.menu li ::after{
  content: '';
  width: 0%;
  height: 3px;
  background: #881c1c;
  border-radius: 3px;
  display: block;
  margin:auto;
  margin-top: 3px;
  transition: 0.5s;
}
.menu li :hover::after {
  width: 100%;
}

.sign{
  display: flex;
  border: 3px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.signin {
  display: flex;
  justify-content: space-between;
  align-items:center;
  border: solid 5px #881c1c;
  background-color: #881c1c;
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
}

.reg {
  color: #fff;
  text-decoration: none;
  margin-left: 4px;
}

.login {
  display: flex;
  justify-content: center;
  color: #881c1c;
  border: solid 5px #eaeaea;
  background-color: #eaeaea;
  text-decoration: none;
  border-radius: 3px;
  margin: 3px;
  padding: 4px 3px;
}

.userpage {
  display: flex;
  justify-content: space-between;
  align-items:center;
  border: solid 5px #881c1c;
  background-color: #881c1c;
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
}

.profilo {
  color: #fff;
  text-decoration: none;
  margin-left: 4px;
  font-size: 12px;
}

.hamburger{display: none;}



.icon-container{
  display: none;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  align-content: center;
  justify-content: space-between;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 15%;
  padding: 20px;
  background-color: #fff;
  border: 3px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #881c1c;
  cursor: pointer;
}

.bacheca {
  display: flex;
  height: calc(100vh - 3%);
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding-top: 2%;
  background-color: #881c1c;
}


.riquadrospot {
  display: flex;
  flex: 2;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.spotted {
  display: grid;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  -webkit-box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  -moz-box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  border: solid 3px #fff;
  border-radius: 5px;
  background-color: #fff;
  width: 90%;
  margin: 20px;
  padding: 20px;
  color: #000000;
}

.grey-background {
  background-color: #eaeaea;
  border: 3px;
  opacity: 60%;
  opacity: 50%;
}

.container{
  flex: 1;
  flex-direction: column;
  height: calc(100vh - 70px);
  margin: 20px;
  padding: 20px;
}

.cerca{
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 25%;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  -webkit-box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  -moz-box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  border: solid 3px #fff;
  border-radius: 5px;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.filtri {
  display: flex;
  width: 80%;
  margin-bottom: 20px;
  margin-top: .5rem;
  align-items: center;
  justify-content: left;
  gap: .5em;
  background-color: #f2f2f2;
  border-radius: 3px;
  padding: .5em 1em;
}

.searchimg{
  width: 1em;
}

.cercafiltro{
  background: none;
  border: none;
  outline: none;
  color: black;
}

.cercafiltro:focus::placeholder{
  opacity: 0;
  transition: opacity .3s;
}

.facolta {
  width: 50%;
  padding: 0.1em;
  font-size: 12px;
}

.creaspot {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 25%;
  background-color:#fff;
  border: 3px;
  border-radius: 5px;
  padding: 0.3em;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  -webkit-box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  -moz-box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  margin: 20px 0;
}

.createimg{
  width: 2em;
}

.spot{
  display: flex;
  width: 80%;
  margin-bottom: 20px;
  margin-top: .5rem;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #f2f2f2;
  border-radius: 3px;
  padding: .5em 1em;
}

.input-spot{
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: black;
  font-size: 16px;
}

.input-spot:focus::placeholder{
  opacity: 0;
  transition: opacity .3s;
}

.anonimo{
  font-size: 14px;
  margin: 5px;
}

.btninvia{
  width: 20%;
  background-color: #881c1c;
  font-size: 14px;
  color: #fff;
  border: #881c1c 3px;
  border-radius: 3px;
  cursor: pointer;
}

.rispondi{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 25%;
  background-color:#fff;
  border: 3px;
  border-radius: 5px;
  padding: 0 0.3em 0 0.3em;
  box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  -webkit-box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  -moz-box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
  margin: 20px 0;
}

.risp{
  display: flex;
  align-content: top;
  justify-content: left;
  top: 0;
  width: 100%;
  border-bottom: #e4e4e4 solid 4px;
}
.risp p{
  font-size: 14px;
}

.rispondiimg{
  margin: 0;
  padding:0 2%;
  width: 7%;
}

.risposta{
  display: flex;
  width: 80%;
  margin-bottom: 10px;
  margin-top: .5rem;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: #f2f2f2;
  border-radius: 3px;
  padding: .5em 1em;
}

.input-risp{
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: black;
  font-size: 14px;
}

.input-risp:focus::placeholder{
  opacity: 0;
  transition: opacity .3s;
}


h1 {font-size: 16px;color: #881c1c;}

.logcard {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 42vw;
  height: 55vh; 
  background: white;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  overflow: hidden;
}

.logcard iframe {
  width: 100%;
  height: calc(100% - 30px);
  border: none;
  overflow: hidden;
}

.regcard {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 20%; 
  height: 60%; 
  background: white;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  overflow: hidden;
}

.regcard iframe {
  width: 100%;
  height: calc(100% - 30px);
  border: none;
  overflow: hidden;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border:none;
  cursor:pointer;
}

.close-btn:hover {
  background: #881c1c; /* Cambia il background al colore desiderato */
  color: whitesmoke;    /* Cambia il colore del testo al colore desiderato */
}


/*Inputs*/
.field {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  background-color: whitesmoke;
  border-radius: 4px;
  padding: .5em 1em;
}
   
.input-icon {
  height: 1em;
  width: 1em;
  fill: #881c1c;
}
   
   .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: black;
   }
   .input-field::placeholder {
    color: black; 
  }
   
   /*Text*/
   .title {
    margin-bottom: 1rem;
    font-size: 1.5em;
    font-weight: 500;
    color: #881c1c;
   }
   
   /*Buttons*/
   .btn {
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #881c1c;
    color: #fff;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
   }
   
   .btn-link {
    color: rgb(122, 84, 84);
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
   }
   
   /*Hover & focus*/
   .field input:focus::placeholder {
    opacity: 0;
    transition: opacity .3s;
   }
   
   .btn:hover {
    background-color: whitesmoke;
    color: #881c1c;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
   }


@media (max-width: 768px) {
  .header{
    position:relative;
    padding-left: 20px;
    padding-right: 60px;
    width: auto;
    justify-content:space-around;
    background-color: #fff;
    overflow: hidden;
  }
  .menu{
    position: absolute;
    top:47px;
    right:-100%;
    width: 100%;
    transition: 0.5s ease-in-out;
  }
  .menu li{width: 100%;} 

  .hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    width: 30px;
    position: absolute;
    right:10px;
  }

  .hamburger span{
    display: block;
    top: 8px;
    position: absolute;
    width: 30px; 
    height: 3px;
    border: 3px;
    border-radius: 3px;
    background-color: #881c1c;
  }

  .hamburger span:nth-child(1){margin-top: -6px;}
  .hamburger span:nth-child(2){margin-top: 0px}
  .hamburger span:nth-child(3){margin-top: 6px;}

  .open.header{overflow: visible;  transition: 0.5s ease-in-out;}
  
  .open.header .menu{
    position: absolute;
    top:53.5px;
    right:0%;
    width: 100%;
  }

  .icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 2%;
    padding-bottom: 1%;
    background-color: #881c1c;
  }

  .icon {
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 3px;
    border-radius: 50%;
  }

  .icon-search{
    width: 40%;
  }

  .icon-crea{
    width: 50%;
  }

  .icon-risp{
    width: 50%;
  }


  .popup {
    display: none;
  }

  .icon.active ~ .popup {
      display: block;
  }

  .bacheca {
    display: flex;
    height: 100%;
    padding-top: 0;
  }

  .riquadrospot{
    align-items: center;
    padding-top: 0;
  }

  .container{
    display: none;
  }

  .overlay1{
    display: block;
  }

}

.utentelog{
  display:  none ;
}
