<!DOCTYPE html>
<html lang="it">
<!-- caricare un file di stile -->
<link rel="stylesheet" href="/static/stileDashboard.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classifica</title>
</head>
<body>
    <div class="menu-bar">Contenuto del menu qui</div>
    <div class="container">
        <div class="left-column">
            <div class="title-scoreboard">
                <h3>CLASSIFICA</h3>
            </div>
            <div class="scoreboard">
                <table>
                    {% set count = 0 %}
                    {% for faco in facolta %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ faco.nome }}</td>
                            <td>{{ faco.puntiTot }}</td>
                        </tr>
                        {% set count = count + 1 %}
                    {% endfor %}

                </table>
        </div>
        </div>
        <div class="right-column"  id="contenuto">
            <div class="box-domanda">
                <div class="img-argomento">
                <!-- inserisci l'immagine dal nome 'informatica.jpg' contenuto nella cartella img -->
                    <img src="{{ domande.srcArg }}" alt="{{ domande.argomento }}">
                </div>
                <div class="domanda">
                    <p>{{ domande.testo }}</p>
                </div>
            </div>
            <div class="box-risposta" id="box-risposta">
                <table>
                    
                    <tr>
                        <td>
                            <button id="risposta_1" class="{% if 'risposta_1' == domande.risposta_corretta %}risposta-esatta{% else %}risposta-sbagliata{% endif %}" type="button">{{ domande.risposta_1 }}</button>
                        </td>
                        <td>
                            <button id="risposta_2" class="{% if 'risposta_2' == domande.risposta_corretta %}risposta-esatta{% else %}risposta-sbagliata{% endif %}" type="button">{{ domande.risposta_2 }}</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button id="risposta_3" class="{% if 'risposta_3' == domande.risposta_corretta %}risposta-esatta{% else %}risposta-sbagliata{% endif %}" type="button">{{ domande.risposta_3 }}</button>
                        </td>
                        <td>
                            <button id="risposta_4" class="{% if 'risposta_4' == domande.risposta_corretta %}risposta-esatta{% else %}risposta-sbagliata{% endif %}" type="button">{{ domande.risposta_4 }}</button>
                        </td>
                    </tr>
                </table>  
            </div>
            <button id="cambiaContenutoBtn">Cambia Contenuto</button>
        </div>
          
          
        <script>
            // Ottieni riferenze agli elementi DOM
            const contenutoDiv = document.getElementById('contenuto');
            const cambiaContenutoBtn = document.getElementById('cambiaContenutoBtn');
          
            // Aggiungi un gestore di eventi al pulsante
            cambiaContenutoBtn.addEventListener('click', function() {
              // Nascondi temporaneamente il contenuto
              contenutoDiv.classList.add('hidden');
          
              // Cambia il contenuto della div dopo l'animazione
              setTimeout(function() {
                contenutoDiv.textContent = 'Nuovo contenuto della div!';
                
                // Mostra nuovamente il contenuto
                contenutoDiv.classList.remove('hidden');
              }, 500); // Tempo corrispondente alla durata dell'animazione (0.5s)
            });
          </script>
          <script>
            document.addEventListener('DOMContentLoaded', function() {
                var buttons = document.querySelectorAll('#box-risposta button');
                buttons.forEach(function(button) {
                    button.addEventListener('click', function() {
                        if (this.classList.contains('risposta-esatta')) {
                            this.style.backgroundColor = 'green';
                        } else {
                            this.style.backgroundColor = 'red';
                            
                            // Identifica e colora di verde la risposta corretta
                            buttons.forEach(function(btn) {
                                if (btn.classList.contains('risposta-esatta')) {
                                    btn.style.backgroundColor = 'green';
                                }
                            });
                        }
                        
                        // Disabilita gli altri bottoni
                        buttons.forEach(function(btn) {
                            if (btn !== button) {
                                btn.disabled = true;
                            }
                        });
                    });
                });
            });
        </script>
        
    </div>
</body>
</html>