<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="/static/stile homepage.css">
    <script language="JavaScript" type="text/javascript" src="homepage.js"></script>
    <title>Spotted Sapienza</title>


</head>
<body>

    <header class="header">
        <div class="logo">
            <img src="/static/images/Logo sapienza.jpg" class="logoimg">SPOTTED SAPIENZA
        </div>

        <nav class="menu">
            <ul>
                <li><a href="/">Bacheca</a></li>
               <li><a href="/mappa">Feste</a></li> 
                <li><a href="/classifica">Quiz</a></li>
            </ul>   
        </nav>
        <div class="sign">
            <span class="signin">
                <img src="/static/images/user-plus.svg" class="userplusimg">
                <a href="/reg_page" class="reg" onclick="openregCard(event, '/reg_page')">Registrati</a>
            </span>
            <a href="loginpage.html" class="login" onclick="openlogCard(event, '/loginpage')">Accedi</a>
        </div>
        

        <span class="userpage utentelog">
            <img src="/static/images/user.svg" class="userimg">
            <a href="/profilo" class="profilo">Il mio profilo</a>
        </span>

        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </header>
    <div class="overlay"></div>

    

    <div class="bacheca">
        <div class="riquadrospot">
            <div class="spotted">
                <a href="">Nome utente</a>
                <a href="" class="">Spotto persone!!</a>
            </div>
            <div class="spotted">
                <a href="">Nome utente</a>
                <a href="" class="">Spotto persone!!</a>
            </div>
            <div class="spotted">
                <a href="">Nome utente</a>
                <a href="" class="">Spotto persone!!</a>
            </div>
            <div class="spotted">
                <a href="">Nome utente</a>
                <a href="" class="">Spotto persone!!</a>
            </div>
            <div class="spotted">
                <a href="">Nome utente</a>
                <a href="" class="">Spotto persone!!</a>
            </div>
            <div class="spotted">
                <a href="">Nome utente</a>
                <a href="" class="">Spotto persone!!</a>
            </div>
            <div class="spotted">
                <a href="">Nome utente</a>
                <a href="" class="">Spotto persone!!</a>
            </div>
            <div class="spotted">
                <a href="">Nome utente</a>
                <a href="" class="">Spotto persone!!</a>
            </div>
            {% for spot in spot %}
            <div class="spotted" id="{{ spot.id_utente }}" onclick="changeBackgroundColor(this)">
                <p>{{ spot.utente.nome }}</p>
                <p>{{ spot.contenuto }}</p>
            </div>
            {% endfor %}
        </div>

    <div class="container">
        <div class="cerca">
            <div class="filtri">
                <label for="creaspot"></label>
                <img src="/static/images/search.svg" class="searchimg">
                <input type="text" placeholder="Cerca filtro" id="spot">
            </div>
            <div class="facoltà">        
                 Facoltà <select name="">
                    <option value="Nessuna">Nessuna</option>
                    <option value="Architettura">Architettura</option>
                    <option value="Economia">Economia</option>
                    <option value="Farmacia e medicina">Farmacia e medicina</option>
                    <option value="Giurisprudenza">Giurisprudenza</option>
                    <option value="Ingegneria civile e industriale">Ingegneria civile e industriale</option>
                    <option value="Ingegneria dell'informazione, informatica e statistica">Ingegneria dell'informazione, informatica e statistica</option>
                    <option value="Lettere e filosofia">Lettere e filosofia</option>
                    <option value="Medicina e odontoiatria">Medicina e odontoiatria</option>
                    <option value="Medicina e psicologia">Medicina e psicologia</option>
                    <option value="Scienze matematiche, fisiche e naturali">Scienze matematiche, fisiche e naturali</option>
                    <option value="Scienze politiche sociologia comunicazione">Scienze politiche sociologia comunicazione</option>
                </select>
            </div>
        </div>

        <div class="creaspot utentelog">
            <div class="spot">
                <img src="/static/images/create.svg" class="createimg">
                <input type="text" placeholder="Crea il tuo spot" id="spot">
            </div>
            <span class="anonimo">
                <input type="checkbox">Anonimo
            </span>
            <button class="btninvia">INVIA</button>
        </div>

        <div class="rispondi">
            <img src="/static/images/rispondi.svg" class="rispondiimg">Rispondi a nome utente
            <input type="text" placeholder="Rispondi" id="risposta">
            <button class="btninvia">Invia</button>
        </div>

    </div>
    </div>

    <script>
        function openregCard(event, url) {
            event.preventDefault();
        
            // Mostra l'overlay
            document.querySelector('.overlay').style.display = 'block';
        
            // Crea un div card
            var card = document.createElement('div');
            card.classList.add('regcard');
        
            // Crea un iframe all'interno della card
            var iframe = document.createElement('iframe');
            iframe.src = url;
        
            card.appendChild(iframe);
        
            // Crea il pulsante di chiusura
            var closeBtn = document.createElement('button');
            closeBtn.classList.add('close-btn');
            closeBtn.innerHTML = 'X';
            closeBtn.onclick = function() {
              document.querySelector('.overlay').style.display = 'none';
              card.remove();
            };
            card.appendChild(closeBtn);
        
            // Aggiungi la card al body del documento
            document.body.appendChild(card);
          }
    </script>

    <script>
        function openlogCard(event, url) {
            event.preventDefault();
        
            // Mostra l'overlay
            document.querySelector('.overlay').style.display = 'block';
        
            // Crea un div card
            var card = document.createElement('div');
            card.classList.add('logcard');
        
            // Crea un iframe all'interno della card
            var iframe = document.createElement('iframe');
            iframe.src = url;
        
            card.appendChild(iframe);
        
            // Crea il pulsante di chiusura
            var closeBtn = document.createElement('button');
            closeBtn.classList.add('close-btn');
            closeBtn.innerHTML = 'X';
            closeBtn.onclick = function() {
              document.querySelector('.overlay').style.display = 'none';
              card.remove();
            };
            card.appendChild(closeBtn);
        
            // Aggiungi la card al body del documento
            document.body.appendChild(card);
          }
    </script>

    <script>
        let clickedDivId = null;
    
        function changeBackgroundColor(element) {
            // Rimuove il colore rosso da tutte le div
            const allSpottedDivs = document.querySelectorAll('.spotted');
            allSpottedDivs.forEach(div => {
                div.classList.remove('red-background');
            });
    
            // Aggiunge il colore rosso alla div cliccata
            element.classList.add('red-background');

            // Salva l'id della div cliccata in una variabile
            clickedDivId = element.id;
            console.log("Clicked div id:", clickedDivId);
        }
    </script>
        
     
</body>
</html>